/* AboutContentStyles.css */

.about {
    display: flex;
    justify-content: space-around;
    background-color: #000; /* Black background */
    color: #fff; /* White text color */
    padding: 40px;
}

.left,
.right {
    width: 45%; /* Adjust width as needed */
}

.left {
    text-align: left; /* Align text to the left */
}

.right {
    text-align: left; /* Align text to the left */
}

h1 {
    font-size: 2em; /* Adjust heading font size */
    margin-bottom: 20px; /* Adjust margin bottom */
}

p {
    line-height: 1.6; /* Adjust line height for better readability */
}
