/* FormStyles.css */

.contact-info {
    text-align: center;
    color: white;
    padding: 40px; /* Increased padding for more space */
    background-color: #333;
    border-radius: 10px;
    max-width: 800px; /* Increased max-width */
    margin: 20px auto; /* Added margin for centering */
}

.contact-info h2 {
    font-size: 2em; /* Increased font size */
    margin-bottom: 10px; /* Adjusted margin bottom */
}

.profile-photo {
    width: 150px; /* Adjust size of profile photo */
    border-radius: 50%; /* Rounded border for profile photo */
    margin-bottom: 20px; /* Added margin bottom */
}

.info-item {
    margin-bottom: 20px; /* Increased margin bottom */
    text-align: left; /* Align text to the left */
}

.info-item p {
    margin: 10px 0; /* Increased margin */
    line-height: 1.6; /* Adjusted line height for better readability */
}

.info-item a {
    color: rgb(56, 209, 171);
    text-decoration: none;
    font-weight: bold;
}

.info-item a:hover {
    text-decoration: underline;
}
